body {
  margin: 0;
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

#paper {
  margin: 16px 0 16px 0;
  padding: 16px;
  background-color: white;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

#title {
  align-self: center;
}

#survey-form {
  display: flex;
  flex-direction: column;
}

.field-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}